.div {
    margin: 5em auto;
    text-align: center;
}
body {
    padding: 1em 0px 1em 0px;
}
#image {
    width: 720px;
    height: 360px;
}
#counter {
    margin: 5em auto;
    text-align: center;
}
#mail {
    margin-left: 3em;
}
#uname {
    margin-left: 1.0em;
}
#pass {
    margin-left: 1.3em;
}
.img {
    width: 300px;
    height: 300px;
}
.bgImage {
    height: 200px;
    width: 465px;
}
#para {
    border: 1px solid black;
}